PORT=
ORIGIN=paste_your_origin
DB_CONNECT_STRING=paste_mongodb_connection_string
JWT_KEY=Secret_key
JWT_ACCESS_EXPIRE=Secret_key_expiry

REDIS_USERNAME=paste_redis_username
REDIS_PASS=paste_redis_password
REDIS_HOST=paste_redis_host
REDIS_PORT=port

JUDGE0_KEY=judge0_key

JUDGE0_URL=judge0_url
JUDGE0_HOST=judge0_host

GEMINI_API_KEY=gemini_key

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret




